#form{
    text-align: center;
    font-size: 18pt;
}
#methodSelect {
    font-size: 12pt;
}

#methodSelect{
    font-size: 12pt;
}

#button{
    background-color: #307808;
    color: white;
    font-size: 18pt;
    border-radius: 12px;
}
