.rewardBoxes{
    width: 80%;
    border: gray, 1px, solid;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 5px 5px gray;
    background-color: beige;
    margin-bottom: 5%;
}

.rewardBoxes Button{
    background-color: white;
    border-radius: 25px;
    border: gray, 1px, solid;
    display: flex;
    margin-left: auto;
    margin-right: 0;
}