#chart{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

h2{
    align-self: center;
}

.MuiPieChart-arcLabel{
    font-weight: bold;
    text-overflow: wrap;
}